@charset "utf-8";

html{
	font: 1em/1.5;
	background-color: #F7F7F7!important;
	margin: 0;
	padding: 0;
}

h1 {
	margin-top:2rem;
}

h1, h2, h3, h4, h5, h6, hgroup, ul, ol, dd, p, span, figure, pre, table, fieldset, hr {
	margin-bottom:1.2rem;
}
h1, h2, h3 {
	font-weight: 700;
}
body {
	background-color: #F7F7F7;
	color: #2B2A29;
	font-family: Arial;
	font-size: 1em;
	margin: 0;
	padding: 0;
	position: relative;
}
figure {
	margin-top: 100px;
}
logo-main {
	font-family: Caveat;
	font-style: italic;
	font-size: 3.2em; /* edited by ASHIK */
	font-weight: 700;
	padding: 10px auto!important; /* added by ASHIK */
}
logo-inline {
	font-family: Caveat;
	font-style: italic;
	font-size: 130%;
	font-weight: 700;
}

#vehicle_1-img {
	background-color: #FEFEFE;
	border: 0px solid #ddd;
	width: 35%;
	height: auto;
	margin-bottom: 0em;
}

.flex-container {
	display: flex;
	max-width: 100%;
	flex-direction: row;
	flex-grow: 2;
}

.wrap {
	flex-wrap: wrap;
}

@media all and (min-width: 30em) {
	.flex-container {
		flex-direction: row;
	}
}

.flex-item {
	border: 0px solid;
	margin: .5em;
	padding: .5em;
	background: #FEFEFE;
}

.flex-item:nth-of-type(2) {
	background: #000000;
}

.flex-item:nth-of-type(3) {
	background: #000000;
}

.flex-item:nth-of-type(4) {
	background: #000000;
}

/*
.links {								what is this???
float: left;
margin-right: 2em;
} 
*/





